.services {
    padding-block: calc(var(--header-height) + 1.6rem);
}

.services h1 {
    font-size: 4.4rem;
    margin-bottom: 6rem;
}

.container1 {
    padding: 4rem;
    border: 2px solid #fff;
    border-radius: 5rem;
    margin-bottom: 10rem;
}

.container2 {
    padding: 4rem;
    border: 2px solid #fff;
    border-radius: 5rem;
}

.container1 h2 {
    position: absolute;
    width: fit-content;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    padding: .4rem 1.3rem;
    background: var(--clr-primary);
    border-radius: 5rem;
    transform: translateY(-58px);
}

.container2 h2 {
    position: absolute;
    width: fit-content;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    padding: .4rem 1.3rem;
    background: var(--clr-primary);
    border-radius: 5rem;
    transform: translateY(-58px);
}

.box {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.text {
    font-size: 2.2rem;
    text-align: justify;
    line-height: 1.3;
}

.subtitle {
    width: fit-content;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    padding: .8rem 1.3rem;
    background: var(--clr-secondary);
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.subtitleEX {
    width: fit-content;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    padding: .8rem 1.3rem;
    background: #fff;
    color: var(--clr-secondary);
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.subtext {
    margin-left: 1rem;
}

.img {
    height: 65dvh;
    border-radius: 5rem;
}

.img2 {
    height: 52dvh;
    border-radius: 5rem;
}

@media screen and (max-width: 1580px) {
    .text {
        font-size: 1.6rem;
        text-align: justify;
        line-height: 1.3;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .subtitleEX {
        font-size: 1.2rem;
    }

    .subtext {
        font-size: 1.3rem;
    }

    .img {
        height: 57dvh;
    }

    .img2 {
        height: 45dvh;
    }
}

@media screen and (max-width: 1370px) {
    .lastItem {
        order: -1;
    }

    .container1 {
        padding: 4rem;
        border: 5px solid var(--clr-secondary);
        border-radius: 5rem;
        background: #181818;
        margin-bottom: 10rem;
    }

    .container2 {
        padding: 4rem;
        border: 5px solid var(--clr-secondary);
        background: #181818;
        border-radius: 5rem;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 1rem;
    }

    .text {
        font-size: 1.6rem;
        text-align: justify;
        line-height: 1.3;
        color: rgb(194, 194, 194);
    }

    .subtitle {
        font-size: 1.4rem;
    }

    .subtitleEX {
        font-size: 1.4rem;
    }

    .subtext {
        font-size: 1.4rem;
        color: rgb(194, 194, 194);
    }

    .img {
        height: 60dvh;
        width: 55dvw;
    }

    .img2 {
        height: 55dvh;
        width: 60dvw;
    }
}

@media screen and (max-width: 930px) {
    .container1 h2 {
        font-size: 2rem;
    }

    .container2 h2 {
        font-size: 2rem;
    }
    
    .img {
        height: 55dvh;
        width: 65dvw;
    }

    .img2 {
        height: 55dvh;
        width: 65dvw;
    }
}

@media screen and (max-width: 785px) {
    .img2 {
        height: 45dvh;
        width: 65dvw;
    }
}

@media screen and (max-width: 600px) {
    .container1 h2 {
        font-size: 1.3rem;
        transform: translateY(-55px);
    }

    .container2 h2 {
        font-size: 1.3rem;
        transform: translateY(-55px);
    }

    .text {
        font-size: 1.4rem;
        text-align: justify;
        line-height: 1.3;
        color: rgb(194, 194, 194);
    }

    .subtitle {
        font-size: 1.3rem;
    }

    .subtitleEX {
        font-size: 1.3rem;
    }

    .subtext {
        font-size: 1.3rem;
        color: rgb(194, 194, 194);
    }

    .img {
        height: 35dvh;
        width: 65dvw;
    }

    .img2 {
        height: 30dvh;
        width: 70dvw;
    }
}

@media screen and (max-width: 440px) {
    .services h1 {
        font-size: 4rem;
    }

    .container1 {
        border-radius: 3rem;
        padding: 2rem;
    }

    .container2 {
        border-radius: 3rem;
        padding: 2rem;
    }
    
    .container1 h2 {
        font-size: 1.1rem;
        transform: translateY(-33px);
    }

    .container2 h2 {
        font-size: .87rem;
        transform: translateY(-33px);
        padding: .6rem 1.3rem;
    }

    .img {
        height: 35dvh;
        width: 75dvw;
    }

    .img2 {
        height: 30dvh;
        width: 75dvw;
    }
}