@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.6rem;
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

.container-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding: 0 2rem;
}

@media screen and (max-width: 1580px) {
  .container-page {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1370px) {
  .container-page {
    max-width: 1100px;
  }
}