.benefits {
    padding-block: calc(var(--header-height) + 1.4rem);
}

.text {
    font-size: 2.1rem;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(340deg, transparent, transparent, transparent, #336463, #79b564, #79b564);
    padding: 1rem 15rem;
    border-radius: 5rem;
    margin-bottom: 5rem;
}

.items {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(290deg, transparent, transparent, transparent, #336463, #79b564);
    padding: 8rem;
    border-radius: 5rem;
    margin-left: 15rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #fff;
    padding: 0 3rem;
}

.itemED {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}

.icon {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0rem 5rem 5rem 5rem;
    margin-bottom: 1.6rem;
    box-shadow: var(--dark-shadow);
}

.iconLast {
    padding: 2.2rem 1rem;
    background-color: #fff;
    border-radius: 0rem 5rem 5rem 5rem;
    margin-bottom: 1.6rem;
    box-shadow: var(--dark-shadow);
}

.iconImage {
    width: 65px;
}

.iconImageLast {
    width: 80px;
}

.info {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    max-width: 200px;
}

@media screen and (max-width: 1370px) {
    .text {
        font-size: 1.6rem;
    }

    .info {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 980px) {
    .items {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 880px) {
    .text {
        padding: 1rem 1rem;
        font-size: 2rem;
        margin-bottom: 0rem;
        background: var(--clr-secondary);
    }

    .items {
        display: flex;
        flex-direction: column;
        background: none;
        padding: 3rem;
        margin-left: 0rem;
    }

    .item {
        border-right: 0;
        border-bottom: 2px solid #6d6d6d;
        padding: 5rem;
    }

    .itemED {
        padding: 3rem;
    }

    .icon {
        padding: 5em;
        background-color: #fff;
        border-radius: 0rem 10rem 10rem 10rem;
        margin-bottom: 1.6rem;
        box-shadow: var(--dark-shadow);
    }

    .iconLast {
        padding: 5rem 4rem;
        background-color: #fff;
        border-radius: 0rem 10rem 10rem 10rem;
        margin-bottom: 1.6rem;
        box-shadow: var(--dark-shadow);
    }

    .info {
        font-size: 2.1rem;
        max-width: 300px;
    }
}

@media screen and (max-width: 680px) {
    .text {
        padding: 1.3rem 1rem;
        font-size: 1.4rem;
    }

    .icon {
        padding: 3rem;
        background-color: #fff;
        border-radius: 0rem 10rem 10rem 10rem;
        margin-bottom: 1.6rem;
        box-shadow: var(--dark-shadow);
    }

    .iconLast {
        padding: 4rem 3rem;
        background-color: #fff;
        border-radius: 0rem 10rem 10rem 10rem;
        margin-bottom: 1.6rem;
        box-shadow: var(--dark-shadow);
    }

    .info {
        font-size: 1.8rem;
        max-width: 300px;
    }
}